.custom-icon-size {
  height: 30px;
  margin-right: 2%;
  cursor: pointer;
}

.content-direction {
  width: 40%;
  padding: 1rem 1rem 3rem 1rem;
}

.direction-social {
  display: flex;
  flex-flow: row;
}

.custom-map {
  height: 400px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 5%;
}
