.custom-slider {
  width: 100%;
  height: 400px;
  /* line-height: 320px; */
  color: #fff;
  text-shadow: 0px 0px 5px #444;
  /* background-color: #61dafb; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url("../Image/background/moda2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
  background-color: #d0c6c4;
  margin-bottom: 0.5%;
}

.slider-title {
  font-size: 3rem;
}

.item-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30%;
  margin-top: 4%;
}

.custom-items {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}

.item-p {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.item-content {
  text-align: justify;
}
